@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<title>测试分表</title>
<div class="layui-card-body">
    <form class="layui-form  layui-form-pane" id="b" action="">
        <div class="layui-inline">
            <label class="layui-form-label">TreeId:</label>
            <div class="layui-input-inline">
                @*<input type="text" name="govtitles" id="govtitles" placeholder="请输入" autocomplete="off" class="layui-input" value="">*@
                @*<div id="govId" class="xm-select-demo" style="width: 200px; margin-top: 1px;"></div>*@
                @*<select id="state" name="state">
                        <option value="">请选择</option>
                        <option value="0">状态1</option>
                        <option value="1">状态2</option>
                    </select>*@
                <input type="text" name="state" id="state" placeholder="TreeId" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">关键词:</label>
            <div class="layui-input-inline">
                <input type="text" name="titles" id="titles" placeholder="TreeId/用户Id" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">qId:</label>
            <div class="layui-input-inline">
                <input type="text" name="qid" id="qid" placeholder="QId" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">日期:</label>
            <div class="layui-input-inline" style="width:120px;">
                <input type="text" name="startTime" id="startTime" placeholder="开始时间" autocomplete="off" class="layui-input" value="" style="width:120px;">
            </div>
            <div class="layui-input-inline" style="width:6px;">
                <label style="width:6px;">-</label>
            </div>
            <div class="layui-input-inline" style="width:120px">
                <input type="text" name="endTime" id="endTime" placeholder="结束时间" autocomplete="off" class="layui-input" value="" style="width:120px;">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-inline">
                <button class="layui-btn icon-btn  layui-btn-sm" id="searchBtn" type="button"> <i class="layui-icon layui-icon-search"></i>搜索</button>
            </div>
        </div>
    </form>
    <table id="tablefirst" lay-filter="tablefirst"></table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</button> }
            <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
        </div>
    </script>
</div>
<script type="text/javascript">
    getUnit();
    function getUnit() {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Home/TestGetList",
            success: function (ressult) {
                if (ressult.code == 200) {
                    var data = ressult.data;
                    xmsGovIns.update({
                        data: data
                    });
                }
            }
        })
    }


</script>