<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/static/layui/css/layui.css" />
    <script type="text/javascript" src="~/static/layui/layui.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
@*<script type="text/javascript" src="~/lib/three-dev/build/three.js"></script>*@
